.user_components_container {
   position: relative;
   width: 600px;
   height: 600px;
   background-color: #5b5956;
}

/* .nav_container {
 
} */

.userIcon {

   font-size: 20px;
}

.user_icon {
   position: absolute;
   right: 0px;
   top: -30px;
   display: flex;
   /* flex-direction: column-reverse; */
   background-color: black;
   padding: 3px 10px;
   border-radius: 10px;
   font-size: 14px;
   gap: 7px;
}

li {
   list-style: none;
   text-decoration: none;
}
