.user_components_container {
   position: relative;
   width: 700px;
   min-width: 600px;
   height: 100vh;
   background-color: #3c2942ba;
   overflow: scroll;
}

.userIcon {
   font-size: 20px;
}

.user_icon:hover {
   background-color: white;
   color: black;
   cursor: pointer;
}

.user_icon {
   position: absolute;
   right: 25px;
   top: 10px;
   display: flex;
   background-color: black;
   padding: 5px 10px;
   border-radius: 10px;
   font-size: 15px;
   gap: 7px;
}

li {
   list-style: none;
   text-decoration: none;
}
