.user_components_container {
   position: relative;
   width: 650px;
   height: 600px;
   background-color: #5b5956;
}

.userIcon {
   font-size: 20px;
}

.user_icon {
   position: absolute;
   right: 0px;
   top: 5px;
   display: flex;
   background-color: black;
   padding: 3px 10px;
   border-radius: 10px;
   font-size: 14px;
   gap: 7px;
}

li {
   list-style: none;
   text-decoration: none;
}
