#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  gap: 10px;
  font-family: monospace;
}

select {
  height: 30px;
  /* border-radius: 20px; */
  padding: 5px;
}






